body{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

form{
    display: flex;
    flex-direction: column;
    
}

form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

form div label {
    margin-bottom: 5px;
}

form div input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}
form  button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}
